@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .card {
    @apply border border-gray-200 dark:border-neutral-800 rounded-lg bg-white dark:bg-neutral-900;
  }
}